# CROSS VALIDATION

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]

       2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
0       2013,1,1,557,600,-3,709,723,-14,EV,5708,N829AS...
1       2013,1,1,557,600,-3,838,846,-8,B6,79,N593JB,JF...
2       2013,1,1,558,600,-2,753,745,8,AA,301,N3ALAA,LG...
3       2013,1,1,558,600,-2,849,851,-2,B6,49,N793JB,JF...
4       2013,1,1,558,600,-2,853,856,-3,B6,71,N657JB,JF...
...                                                   ...
336764  2013,9,30,NA,1455,NA,NA,1634,NA,9E,3393,NA,JFK...
336765  2013,9,30,NA,2200,NA,NA,2312,NA,9E,3525,NA,LGA...
336766  2013,9,30,NA,1210,NA,NA,1330,NA,MQ,3461,N535MQ...
336767  2013,9,30,NA,1159,NA,NA,1344,NA,MQ,3572,N511MQ...
336768  2013,9,30,NA,840,NA,NA,1020,NA,MQ,3531,N839MQ,...

[336769 rows x 1 columns]