In [1]:
import pandas as pd
data={"name":["john","peter","lisa"],
    "age":[24,26,28],
    "salary":[20000,30000,45000]}

df= pd.DataFrame(data)
print(df)

    name  age  salary
0   john   24   20000
1  peter   26   30000
2   lisa   28   45000

In [9]:
data = pd.read_csv(r"C:\Users\User\juypter\Data analytics\company.csv")
data

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [10]:
dta = pd.read_excel(r"C:\Users\User\juypter\Data analytics\banking Data.xlsx")
dta

,Client ID,Name,Age,Sex,Location ID,Joined Bank,Banking Contact,Nationality,Occupation,Investment Advisor,...,Amount of Credit Cards,Credit Card Balance,Bank Loans,Bank Deposits,Checking Accounts,Saving Accounts,Foreign Currency Account,Business Lending,Properties Owned,Risk Weighting
0,PKR81288,Raymond Mills,24,Male,34324,2019-05-06,Anthony Torres,American,Safety Technician IV,Victor Dean,...,1,484.5440,7.762429e+05,1.485829e+06,6.036179e+05,607332.455240,12249.9584,1.134475e+06,1,2
1,PKR65833,Julia Spencer,23,Male,42205,2001-12-10,Jonathan Hawkins,African,Software Consultant,Jeremy Porter,...,1,2256.8777,1.270615e+06,6.414828e+05,2.295214e+05,344635.157402,61162.3089,2.000526e+06,1,3
2,PKR47499,Stephen Murray,27,Female,7314,2010-01-25,Anthony Berry,European,Help Desk Operator,Ernest Knight,...,2,4568.7438,1.052716e+06,1.033402e+06,6.526747e+05,203054.348179,79071.7794,5.481376e+05,1,3
3,PKR72498,Virginia Garza,40,Male,34594,1993-03-28,Steve Diaz,American,Geologist II,Eric Shaw,...,2,4205.0010,1.211951e+05,1.048157e+06,1.048157e+06,234685.019326,57513.6520,1.148402e+06,0,4
4,PKR60181,Melissa Sanders,46,Female,41269,2012-07-20,Shawn Long,American,Assistant Professor,Kevin Kim,...,1,3779.4880,1.048302e+06,4.877825e+05,4.466442e+05,128351.452320,30012.1360,1.674412e+06,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,PKR66827,Earl Hall,82,Female,8760,2014-10-09,Joshua Bennett,American,Accounting Assistant III,Daniel Carroll,...,1,649.8540,2.239351e+05,1.089957e+06,5.328679e+05,657849.619325,12947.3100,1.238860e+06,1,3
2996,PKR40556,Billy Williamson,44,Female,32837,2009-02-05,Dennis Ruiz,European,Paralegal,Peter Castillo,...,1,1639.0350,5.959020e+05,1.368913e+05,5.658174e+04,93195.608103,23205.6900,2.771711e+05,1,2
2997,PKR72414,Victor Black,70,Female,36088,2009-12-29,Joshua Ryan,American,Statistician IV,Steve Sanchez,...,1,2352.8448,8.804930e+05,2.148609e+05,1.587261e+05,35539.152952,30291.8112,5.029472e+05,2,2
2998,PKR46652,Andrew Ford,56,Female,24871,2006-02-13,Nicholas Cunningham,European,Human Resources Assistant III,Juan Ramirez,...,2,3578.6088,2.686250e+05,7.426302e+05,4.046383e+05,56411.334112,6413.1444,1.538369e+06,3,1
2999,PKR40216,Amy Nguyen,79,Female,38518,2005-12-08,Joe Hanson,American,Biostatistician III,Peter Castillo,...,1,1494.6876,2.856407e+05,6.561766e+04,7.776908e+04,32371.380536,8992.3608,3.294125e+05,1,1

Exploring data in pandas

In [13]:
import pandas as pd
fun = pd.read_excel(r"C:\Users\User\juypter\Data analytics\ESD.xlsx")
fun

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

In [14]:
print(fun.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      1000 non-null   object
 2   Job Title      1000 non-null   object
 3   Department     1000 non-null   object
 4   Business Unit  1000 non-null   object
 5   Gender         1000 non-null   object
 6   Ethnicity      1000 non-null   object
 7   Age            1000 non-null   int64
 8   Hire Date      1000 non-null   datetime64[ns]
 9   Annual Salary  1000 non-null   int64
 10  Bonus %        1000 non-null   float64
 11  Country        1000 non-null   object
 12  City           1000 non-null   object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(9)
memory usage: 109.5+ KB
None

In [15]:
fun.describe()

,Age,Hire Date,Annual Salary,Bonus %,Exit Date
count,1000.000000,1000,1000.000000,1000.000000,85
mean,44.382000,2012-04-07 02:54:14.400000,113217.365000,0.088660,2016-11-02 18:04:14.117647104
min,25.000000,1992-01-09 00:00:00,40063.000000,0.000000,1994-12-18 00:00:00
25%,35.000000,2007-02-14 00:00:00,71430.250000,0.000000,2014-12-25 00:00:00
50%,45.000000,2014-02-15 12:00:00,96557.000000,0.000000,2019-05-23 00:00:00
75%,54.000000,2018-06-22 00:00:00,150782.250000,0.150000,2021-04-09 00:00:00
max,65.000000,2021-12-26 00:00:00,258498.000000,0.400000,2022-08-17 00:00:00
std,11.246981,NaN,53545.985644,0.117856,NaN

In [17]:
fun.isnull().sum()

EEID               0
Full Name          0
Job Title          0
Department         0
Business Unit      0
Gender             0
Ethnicity          0
Age                0
Hire Date          0
Annual Salary      0
Bonus %            0
Country            0
City               0
Exit Date        915
dtype: int64

pivot & melting

In [3]:
import  pandas as pd 
dict = {"keys":["k1","k2","k1","k2"],
        "names":["john","ben","David","peter"],
        "houses":["red","green","blue","yellow"]}
df= pd.DataFrame(dict)
print(df)

print(df.pivot(index="keys",columns="names",values="houses"))

  keys  names  houses
0   k1   john     red
1   k2    ben   green
2   k1  David    blue
3   k2  peter  yellow
names David    ben john   peter
keys
k1     blue    NaN  red     NaN
k2      NaN  green  NaN  yellow

In [7]:
import pandas as pd 

data_dict = {
    "keys": ["k1", "k2", "k1", "k2"],
    "names": ["john", "ben", "David", "peter"],
    "houses": ["red", "green", "blue", "yellow"],
    "grades":["3rd","8th","9th","8th"]
}

df = pd.DataFrame(data_dict)
print(df)

# Using pivot_table to handle duplicates
pivot_df = df.pivot_table(index="keys", columns="names", values=["houses","grades"], aggfunc='first')
print(pivot_df)

  keys  names  houses grades
0   k1   john     red    3rd
1   k2    ben   green    8th
2   k1  David    blue    9th
3   k2  peter  yellow    8th
      grades                 houses
names  David  ben john peter  David    ben john   peter
keys
k1       9th  NaN  3rd   NaN   blue    NaN  red     NaN
k2       NaN  8th  NaN   8th    NaN  green  NaN  yellow

In [9]:
data_dict = {
    "names": ["john", "ben", "David", "peter"],
    "houses": ["red", "green", "blue", "yellow"],
    "grades":["3rd","8th","9th","8th"]
}

df = pd.DataFrame(data_dict)
print(df)


print(pd.melt(df,id_vars=["names"],value_vars=["houses"]))

   names  houses grades
0   john     red    3rd
1    ben   green    8th
2  David    blue    9th
3  peter  yellow    8th
   names variable   value
0   john   houses     red
1    ben   houses   green
2  David   houses    blue
3  peter   houses  yellow