In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\User\juypter\files\weatherData12.csv')
df

   Unnamed: 0         Day  temprature  windspeed events
0           0  01-01-2017          32          6   Rain
1           1  01-02-2017          35          7  Sunny
2           2  01-03-2017          28          2   Snow
3           3  01-04-2017          24          7   Snow
4           4  01-05-2017          32          4   Rain
5           5  01-06-2017          32          2  Sunny

In [2]:
df1 = pd.read_excel(r'C:\Users\User\juypter\files\weatherData.xlsx')
df1

   Unnamed: 0       Day  temprature  windspeed events
0           0  1/1/2017          32          6   Rain
1           1  1/2/2017          35          7  Sunny
2           2  1/3/2017          28          2   Snow
3           3  1/4/2017          24          7   Snow
4           4  1/5/2017          32          4   Rain
5           5  1/6/2017          32          2  Sunny

In [3]:
weather_data = {
        'Day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
        'temprature':[32,35,28,24,32,32], 
        'windspeed':[6,7,2,7,4,2],
        'events':['Rain','Sunny','Snow','Snow','rain','Sunny']
             
}
df1 = pd.DataFrame(weather_data)
df1

        Day  temprature  windspeed events
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   rain
5  1/6/2017          32          2  Sunny

In [4]:
weather_data = {
        'Day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
        'temprature':[32,35,28,24,32,32], 
        'windspeed':[6,7,2,7,4,2],
        'events':['Rain','Sunny','Snow','Snow','rain','Sunny']

SyntaxError: incomplete input (2919110828.py, line 5)